<div class="container mt-5">
  <div class="row">
    <h4 class="my-3 text-center bg-light">新規会員登録</h4>
      <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer' do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
    <div class="row">
      <div class="my-2 col-sm-4">名前</div>
      <div class="my-2 col-sm-4">(姓)<%= f.text_field :last_name %></div>
      <div class="my-2 col-sm-4">(名)<%= f.text_field :first_name %></div>

      <div class="my-2 col-sm-4">フリガナ</div>
      <div class="my-2 col-sm-4">(セイ)<%= f.text_field :last_name_kana %></div>
      <div class="my-2 col-sm-4">(メイ)<%= f.text_field :first_name_kana %></div>

      <div class="my-2 col-sm-4">メールアドレス</div>
      <div class="my-2 col-sm-7"><%= f.text_field :email %></div>

      <div class="my-2 col-sm-4">郵便番号(ハイフンなし)</div>
      <div class="my-2 col-sm-7"><%= f.text_field :postcode %></div>

      <div class="my-2 col-sm-4">住所</div>
      <div class="my-2 col-sm-7"><%= f.text_field :address %></div>

      <div class="my-2 col-sm-4">電話番号(ハイフンなし)</div>
      <div class="my-2 col-sm-7"><%= f.text_field :telephone %></div>

      <div class="my-2 col-sm-4">パスワード(6文字以上)</div>
      <div class="my-2 col-sm-7"><%= f.text_field :password %></div>

      <div class="my-2 col-sm-4"></div>
      <div class="my-2 col-sm-7">
        <%= f.submit "新規登録", class:"btn btn-success" %>
      </div>
      <% end %>
    </div>

    <h4 class="my-3 bg-light">既に登録済みの方</h4>
      <div class="my-2 col-sm-8"></div>
      <div class="my-2 col-sm-2"></div>
      <div class="my-2 col-sm-6">
        <%= link_to "こちら",new_customer_session_path %>
      からログインしてください。</div>
  </div>
</div>