<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5">新規会員登録</h4>
      <table class="table table-borderless">
      <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer' do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

        <tr>
          <td>名前</td>
          <td>(姓)<%= f.text_field :last_name %></td>
          <td>(名)<%= f.text_field :first_name %></td>
        </tr>

        <tr>
          <td>フリガナ</td>
          <td>(セイ)<%= f.text_field :last_name_kana %></td>
          <td>(メイ)<%= f.text_field :first_name_kana %></td>
        </tr>

        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email %></td>
        </tr>

        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td><%= f.text_field :postcode %></td>
        </tr>

        <tr>
          <td>住所</td>
          <td><%= f.text_field :address %></td>
        </tr>

        <tr>
          <td>電話番号(ハイフンなし)</td>
          <td><%= f.text_field :telephone %></td>
        </tr>

        <tr>
          <td>パスワード(6文字以上)</td>
          <td><%= f.text_field :password %></td>
        </tr>

        <tr>
          <td class:"actions", "btn btn-success">
          <%= f.submit "新規登録" %>
          </td>
        </tr>
        <% end %>
      </table>

      <h4 class="my-5">既に登録済みの方</h4>
        <tr>
          <%= link_to "こちら",new_customer_session_path,  class:"btn btn-primary ml-3" %>
          <td>からログインしてください。</td>
        </tr>