<h4>管理者ログイン</h4>
  <table>
    <%= form_with model: @admin, url: admin_session_path do |f| %>
      <tr>
        <td>メールアドレス</td>
        <td><%= f.text_field :email %></td>
      </tr>

      <tr>
        <td>パスワード</td>
        <td><%= f.text_field :password %></td>
      </tr>

      <tr>
        <div class="actions">
          <%= f.submit "ログイン", class:"btn btn-success" %>
        </div>
      </tr>
    <% end %>
  </table>

<%= render "admin/shared/links" %>
