<div class="container">
  <div class="row">
    <h4 class="my-3 bg-light">注文履歴一覧</h4>
	</div>
	<!--注文履歴の表示 -->
  <table class="table table-bordered">
    <thead class="bg-light">
      <tr>
        <th>注文日</th>
        <th>配送先</th>
        <th>支払金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </tr>
    </thead>
    <% @orders.each do |order| %>
    <tbody>
      <tr>
        <td><%= order.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td>
          〒<%= order.postcode %><br/>
          <%= order.address %><br/>
          <%= order.name %>
        </td>
        <td><%= "#{order.payment_amount.to_s(:delimited)}" %>円</td>
        <td><%= order.status %></td>
        <td><%= link_to '表示する', order_path(order.id), class:"btn btn-primary" %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <!-- -->
</div>