<div class="container">
  <div class="row">
    <h4 class="my-3 bg-light">注文履歴詳細</h>
  </div>
  <div class="row justify-content-around">
    <div class="col-sm-8">
      <b>注文情報</b>
      <!-- 注文情報を表示-->
        <table class="table table-bordered">
          <tbody>
            <tr>
                <td class="bg-light col-sm-3">注文日</td>
                <td class="col-sm-9"><%= @order.created_at.strftime("%Y/%m/%d %H:%M") %></td>
            </tr>
            <tr>
                <td class="bg-light">配送先</td>
                <td>
                    <%= @order.postcode %><br>
                    <%= @order.address %><br>
                    <%= @order.name %><br>
                </td>
            </tr>
            <tr>
                <td class="bg-light">支払方法</td>
                <td><%= @order.payment_method_i18n %></td>
            </tr>
            <tr>
                <td class="bg-light">注文ステータス</td>
                <td><%= @order.status %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-4">
      <b>請求情報</b>
        <!--請求情報を表示 -->
        <table class="table table-bordered">
          <tbody>
            <tr>
                <td class="bg-light col-sm-6">商品合計</td>
                <td class="col-sm-6">¥<%= (@order.payment_amount - @order.postage).to_s(:delimited) %></td>
            </tr>
            <tr>
              <td class="bg-light">配送料</td>
              <td>¥<%= @order.postage %></td>
            </tr>
            <tr>
              <td class="bg-light"><b>ご請求額</b></td>
              <td>¥<%= "#{@order.payment_amount.to_s(:delimited)}"%></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
    <b>注文内容</b>
    <!-- 注文内容を表示-->
    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <th class="col-sm-6">商品</th>
          <th class="col-sm-3">単価（税込）</th>
          <th class="col-sm-1">個数</th>
          <th class="col-sm-1">小計</th>
        </tr>
      </thead>
      <tbody>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td>¥<%= (order_detail.price * 1.1).floor.to_s(:delimited) %></td>
            <td><%= order_detail.quantity %></td>
            <td>¥<%= (order_detail.price * order_detail.quantity * 1.1).floor.to_s(:delimited) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <!-- -->
  </div>
</div>