<div class="container mt-5">
  <!-- 更新成功表示 -->
  <p>
    <%= flash[:notice] %>
  </p>
  <div class="row">
  <h2 class="my-3 bg-light"><%= @customer.last_name %> <%= @customer.first_name %>さんの会員詳細</h2>
  <div class="row">
    <!-- 会員IDの表示 -->
    <strong class="my-2 col-sm-3">会員ID</strong>
    <span class="my-2 col-sm-9"><%= @customer.id %></span>
    <!-- 会員名の表示 -->
    <strong class="my-2 col-sm-3">氏名</strong>
    <span class="my-2 col-sm-9"><%= @customer.last_name %> <%= @customer.first_name %></span>
    <!-- 会員名(フリガナ)の表示 -->
    <strong class="my-2 col-sm-3">フリガナ</strong>
    <span class="my-2 col-sm-9"><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></span>
    <!-- 会員郵便番号の表示 -->
    <strong class="my-2 col-sm-3">郵便番号</strong>
    <span class="my-2 col-sm-9"><%= @customer.postcode %></span>
    <!-- 会員住所の表示 -->
    <strong class="my-2 col-sm-3">住所</strong>
    <span class="my-2 col-sm-9"><%= @customer.address %></span>
    <!-- 会員電話番号の表示 -->
    <strong class="my-2 col-sm-3">電話番号</strong>
    <span class="my-2 col-sm-9"><%= @customer.telephone %></span>
    <!-- 会員メールアドレスの表示 -->
    <strong class="my-2 col-sm-3">メールアドレス </strong>
    <span class="my-2 col-sm-9"><%= @customer.email %></span>
    <!-- 会員ステータスの表示 -->
    <strong class="my-2 col-sm-3">会員ステータス </strong>
    <span class="my-2 col-sm-9 color:<%= @customer.is_active ? 'green' : 'gray' %>;"><%= @customer.is_active ? '有効' : '退会済み' %></span>
    <!--  -->
  </div>

  <div class="col-sm-3 my-3">
   <%= link_to '編集する', edit_admin_customer_path(@customer), class: 'btn btn-success btn-space' %>
  </div>
</div>