<div class="container">
  <div class="row">
    <div class="col">
      <p>
        <%= flash[:error] %>
      </p>
      <h4 class="my-5 col-sm-2 text-center bg-light">ログイン</h4>
      <%= form_with model: @customer, url: customer_session_path(current_customer) do |f| %>
      <table  class="table table-borderless">
      <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email, autofocus: true, :size=>"40" %></td>
        </tr>

        <tr>
          <td>パスワード</td>
          <td><%= f.password_field :password, autofocus: true, :size=>"40" %></td>
        </tr>
      </table>
      <div class="text-center">
        <tr class="actions text-center">
          <%= f.submit "ログイン", class:"btn btn-primary " %>
        </td>
      </div>
      <% end %>
      <h4 class="my-5 col-sm-4 text-center bg-light">会員登録がお済でない方</h4>
      <div class="my-2 col-sm-8"></div>
      <div class="my-2 col-sm-2"></div>
      <div class="my-2 col-sm-6">
        <%= link_to "こちら",new_customer_registration_path %>
        から新規登録を行ってください。</div>
    </div>
  </div>
</div>