<h1>Editing Book</h1>

<%= form_with model: @book, url:book_path(@book.id), method: :patch do |f| %>

  <div class="edit-list">
  <ul>Title</ul>
  <%= f.text_field :title %>
  </div>

  <div class="edit-list">
  <ul>Body</ul>
  <%= f.text_area :body %>
  </div>

  <div class="edit-list">
  <ul>
  <%= f.submit 'Update Book' %>
  </ul>
  </div>

<% end %>

<span class="nav-list-item">
  <%= link_to "Show", book_path %>
</span>
|
<span class="nav-list-item">
  <%= link_to "Back", "/books" %>
</span>