
<h1>Books</h1>

  <div class="table">

    <label>

      <div class="text-head">

        <th>Title</th>
        <th>body</th>
        <th colspan="3"></th>

      </div>

    </label>

    <div class="book-list">
      <% @books.each do |book| %>

        <span class="book-body">
          <%= book.title %>
        </span>

        <span class="book-body">
          <%= book.body %>
        </span>

         <bb class="nav-list-item">
          <%= link_to "Show", book_path(book.id) %>
        </bb>
        <bb class="nav-list-item">
          <%= link_to "Edit", "/books/#{book.id}/edit" %>
        </bb>
        <bb class="nav-list-item">
          <%= link_to "Destroy", "/books/#{book.id}" %>
        </bb>
      <% end %>
    </div>

  </div>



<h2>New book</h2>

<%= form_with model: @book do |f| %>

<div class="form">


  <div class="field">
    <subject>Title</subject>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <subject>body</subject>
    <%= f.text_area :body %>
  </div>

  <%= f.submit 'Create Book' %>

</div>

<% end %>