
<h1>Books</h1>

    <table>

      <div class="book-title">
        <tr>
          <span>Title</span>
          <span>Body</span>
        </tr>
      </div>

      <tbody>
      <% @books.each do |book| %>
        <div class="book-list">
          <span >
            <%= book.title %>
          </span>
          <span>
            <%= book.body %>
          </span>
          <span>
            <%= link_to "Show", book_path(book.id)%>
          </span>
          <span>
            <%= link_to "Edit", edit_book_path(book.id) %>
          </span>
          <span>
            <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
          </span>
        </div>
      <% end %>
      </tbody>
    </table>




<h2>New book</h2>

<%= form_with model: @book do |f| %>

<div class="form">

  <div class="field">
    <subject>Title</subject>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <subject>body</subject>
    <%= f.text_area :body %>
  </div>

  <%= f.submit 'Create Book' %>

</div>

<% end %>