<div class="container mt-5">
  <div class="row">
    <h2 class="mb-4r"><%= @order.customer.last_name %> <%= @order.customer.first_name %>さんの注文履歴</h2>
  </div>
  <div class="row">
      <!-- 注文者名の表示 -->
      <strong class="my-2 col-sm-3">購入者</strong>
      <span class="my-2 col-sm-9">
      <%= link_to admin_customer_path(@order) do %>
        <%= @order.customer.last_name + " " + @order.customer.first_name %>
      <% end %>
      </span>
      <!-- 注文日の表示 -->
      <strong class="my-2 col-sm-3">注文日</strong>
      <span class="my-2 col-sm-9"><%= @order.created_at.strftime("%Y/%m/%d")  %></span>
      <!-- 注文配送先の表示 -->
      <strong class="my-2 col-sm-3">配送先</strong>
      <span class="my-2 col-sm-9">
        〒<%= (@order.customer.postcode).to_s.insert(3, "-") %>
        <%= " " %>
        <%= @order.customer.address %>
      </span>
      <!-- 注文支払い方法の表示 -->
      <strong class="my-2 col-sm-3">支払い方法</strong>
      <span class="my-2 col-sm-9"><%= @order.payment_method_i18n %></span>
      <!-- 注文ステータスの表示、更新 -->
      <strong class="my-2 col-sm-3">注文ステータス</strong>
      <span class="my-2 col-sm-9">
        <%= form_with model:@order, url: admin_order_path, local: true do |f| %>
        <%= f.select :status, ["入金待ち", "入金確認","製作中","発送準備中","発送済み"] %>
        <%= f.submit "更新", class: 'btn btn-success' %>
        <% end %>
      </span>
  </div>

  <div class="container">
    <div class="row">
      <!-- 注文内容の表示 -->
      <table class='col-8 order-show-table table'>
        <thead>
          <tr>
            <th class="active">商品名</th>
            <th class="active">単価（税込）</th>
            <th class="active">数量</th>
            <th class="active">小計</th>
            <th class="active">製作ステータス</th>
            <th></th>
          <tr>
        </thead>
        <% @order_details.each do |order_detail| %>
        <tbody>
          <tr>
            <td class="col-xs-4"><%= order_detail.item.name %></td>
            <td class="col-xs-2">¥<%= (order_detail.price*1.1).floor.to_s(:delimited) %></td>
            <td><%= order_detail.quantity %></td>
            <td class="col-xs-2">¥<%= ((order_detail.price * order_detail.quantity*1.1).floor).to_s(:delimited) %></td>
            <td>
              <%= form_with model:order_detail, url: admin_order_detail_path(order_detail), local: true do |f| %>
              <%= f.select :status, ["製作不可", "製作待ち", "製作中", "製作完了"] %>
            </td>
            <td>
              <%= f.submit "更新", class: 'btn btn-success' %>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <!-- 注文金額の表示 -->
      <div class="col-4 text-right">
        <div class="row">
          <strong class="col-sm-9">商品合計</strong>
          <span class="col-sm-3">¥<%= (@order.payment_amount - @order.postage).to_s(:delimited)%></span>
          <strong class="col-sm-9">送料</strong>
          <span class="col-sm-3">¥<%= @order.postage %></span>
          <strong class="col-sm-9">請求金額合計</strong>
          <span class="col-sm-3">¥<%= @order.payment_amount.to_s(:delimited) %></span>
        </div>
      </div>
    </div>
  </div>
</div>