<div class="container">
  <div class="row">
    <h4 class="my-3 bg-light">商品一覧</h4>
    <!-- 商品追加ページボタン -->
    <div class="col-10 text-right">
      <%= link_to new_admin_item_path do %>
        <button type="button" class="btn btn-outline-dark rounded-circle p-0" style="width:2rem;height:2rem;">
          ＋
        </button>
      <% end %>
    </div>
    <!--  -->
  </div>
  <!-- 商品一覧 -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <% @item.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td>
          <%= link_to admin_item_path(item.id) do %>
          <%= item.name %>
          <% end %>
        </td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td><%= item.is_sale ? '販売中' : '販売停止中' %></td>
      </tr>
    <% end %>
  </table>
</div>